
@font-face {
	font-family: 'Pixelify Sans';
	src: url('../fonts/PixelifySans-Medium.woff2') format('woff2'), url('../fonts/PixelifySans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pixelify Sans';
	src: url('../fonts/PixelifySans-Bold.woff2') format('woff2'), url('../fonts/PixelifySans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}



@font-face {
	font-family: 'Piazzolla';
	src: url('../fonts/Piazzolla-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Piazzolla-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Piazzolla';
	src: url('../fonts/Piazzolla-Regular.woff2') format('woff2'), url('../fonts/Piazzolla-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Light.woff2') format('woff2'), url('../fonts/ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}